*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(assets/bengali\ alphabet_15.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
}
.banner{
    width: 100%;
    object-fit: contain;
}
.sdb{
    width: 100%;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgb(218, 165, 32);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: rgb(218, 165, 32);
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(245, 245, 245, 0.404);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(255, 205, 79);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 1s ease-out;
}
.sidebar li{
    width: 100%;
}
.hideOnPC{
    display: none;
}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .hideOnPC{
        display: flex;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}