@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;600&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cinzel+Decorative&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;600&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cinzel+Decorative&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;600&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
html{
    scroll-behavior: smooth;
    background-image: url(assets/bengali\ alphabet_15.jpg);
    background-size: contain;
    background-repeat: repeat-y;
}
.body{
    margin: 0;
    height: 100%;
    
}
h2{
    font-family: Walter Turncoat;
    font-size: 48px;
    text-align: center;
}
h4{
    text-align: center;
}
.header{
    padding: 20px;
    width: 100%;
    position: fixed;
    text-align: center;    
    color: black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    /*margin-left: 0;*/
    padding-bottom: 0px;
    top: 0;
    box-shadow: 0px 10px 15px #dadada;
}
/*.navbar{
    position: relative;
    overflow: hidden;
    margin: auto;
    align-content: center;
    background: gray;
    align-items: center;
}*/
.logo{
    float: left;
    width: 40%;
}
.navbar{
    width: 50%;
    padding-top: 30px;
    padding-right: 10px;
    font-family: 'Alex Brush';
    font-size: 1.4rem;
}
.navbar a{
    float: right;
    display: inline-flex;
    padding-inline: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: black;
    text-align: center;
    text-decoration: none;    
}
.logo img{
    height: 120px;
    width: auto;
    float: left;
}
/*@media (max-width: 600px){
    .logo{
        width: 100%;
    }
    .navbar{
        width: 100%;
    }*/
.logo h1{
    font-family: 'Cinzel Decorative';
    font-size: 2.3rem;
}
.logo p{
    font-family: 'Alex Brush';
    font-size: 1.2rem;
}
.hr{
    color: black;
    position: fixed;
}
/*.seperator{
    position: sticky;
    width: 100%;
    height: 2px;
    background-color: black;
}*/
.latest{
    margin-top: 200px;
}
.main{
    padding: 10px;    
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.invite{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    /*flex: 50%;*/
    float: left;
    width: 50%;
    font-family: 'Satisfy';
    font-size: 1.2rem;
    text-align: justify;
    vertical-align: middle;
    background: blanchedalmond;
    border-radius: 10px;
}
.slideshow{
    width: 40%;
    padding-left: 80px;
    align-items: center;
}
.posters{
    width: 85%;
    border-radius: 10px;
}
.about{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 20px;
    box-shadow: 5px 10px 15px #dadada ;
    background: linear-gradient(rgb(255, 255, 141), rgb(255, 255, 250));
}
.about p{
    font-family: Ovo;
    font-size: 16px;
    text-align: justify;
}
.publications{
    padding: 20px;  
    padding-top: 5px;  
    margin: auto;      
    /*background-image: url(assets/bengali\ alphabet_15.jpg);
    background-size: cover;*/
}
.publications table{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: transparent;
}
/*.publications .p1{
    margin: auto;
    width: 50%;
}
.publications .p2{
    margin: auto;
    width: 50%;
    padding-left: 20px;
}*/
.publications .p1 img{
    /*float: left;*/
    width: 90%;  
    border: 5px;      
    border-color: #dadada;
    border-radius: 5px;
    box-shadow: 5px;
    display: block;
}
.publications .p2 img{
    width: 90%;
    border: 5px;
    border-color: #dadada;
    border-radius: 5px;
    box-shadow: 5px;
    display: block;
}
.publications td{
    padding: 5px;
}
.pub-caption{
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 78.5%;
  border-radius: 10px;
  top: 3px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.p1:hover .pub-caption{
    opacity: 1;
}
.p2:hover .pub-caption{
    opacity: 1;
}
.team{
    padding: 20px;  
    padding-top: 5px;  
    margin: auto;      
    background-image: url(assets/plain\ paper.jpg);
    background-size: cover;    
    background-repeat: no-repeat;
    
}
.team table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*border: 10px;
    background-image: url(assets/folded\ paper.png);
    background-size: cover;*/
}
.team td{
    padding: 0px;
}
.team .photo1{
    width: 60%;
    border-radius: 5px;
}
.team .photo2{
    width: 67%;
    border-radius: 5px;
}
.team .photo3{
    width: 60%;
    border-radius: 5px;
}
.team .photo4{
    width: 67%;
    border-radius: 5px;
}
.team .text{
    text-align: justify;
    padding: 5px;
}
.footer{
    background-color: black;
    color: azure;
    padding: 5px;
    text-align: center;
    height: 1.5%;
}
.footer table{
    width: 100%;
    align-items: center;
    padding: 0;
}
