@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;600&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cinzel+Decorative&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;600&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cinzel+Decorative&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;600&family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
html{
    width: 100%;
    scroll-behavior: smooth;
    background-image: url(assets/bengali\ alphabet_15.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
h2{
    font-family: Walter Turncoat;
    font-size: 48px;
    text-align: center;
}
h4{
    font-family: Special Elite;
    font-size: 32px;
    text-align: center;
}
.header{
    padding: 20px;
    width: 100%;
    position: fixed;
    text-align: center;    
    color: black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    /*margin-left: 0;*/
    padding-bottom: 0px;
    top: 0;
    box-shadow: 0px 10px 15px #dadada;
    overflow: hidden;
    z-index: 10;
}
/*.navbar{
    position: relative;
    overflow: hidden;
    margin: auto;
    align-content: center;
    background: gray;
    align-items: center;
}*/
.logo{
    float: left;
    width: 45%;
}
.navbar{
    width: 50%;
    padding-top: 30px;
    padding-right: 10px;
    font-family: 'Alex Brush';
    overflow: hidden;
    font-size: 1.3rem;
}
.navbar a{
    float: right;
    display: inline-flex;
    padding-inline: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: black;
    text-align: center;
    text-decoration: none;    
}
/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
  }
.logo img{
    height: 100px;
    width: auto;
    float: left;
}
.logo h1{
    font-family: 'Cinzel Decorative';
    font-size: 2rem;
}
.logo p{
    font-family: 'Alex Brush';
    font-size: 1rem;
}
.hr{
    color: black;
    position: fixed;
}
/*.seperator{
    position: sticky;
    width: 100%;
    height: 2px;
    background-color: black;
}*/
.cafe{
    margin-top: 150px;
    width: 500%;
    /*background-color: pink;*/
    height: 70px;
    /*text-align: center;*/
}
.cafe_text{
    padding-top: 25px;
    position: absolute;
    text-shadow: 10px;
    text-decoration: none;
    color: magenta;
    font-size: 2rem;
    font-family:'Walter Turncoat';
    font-weight: 800;
    vertical-align: middle;
    transform: translateX(100%);
    animation: scroll-left 20s linear infinite;
}
@keyframes scroll-left {
    0%   {
    transform: translateX(150%); 		
    }
    100% {
    transform: translateX(-150%); 
    }
   }
.latest{
    margin-top: 50px;
}
.main{
    padding: 10px;    
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    align-content: center;
    padding-inline: 20px;
    justify-content: space-around;
}
.invite{ 
    width: 75%;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}
.slider-wrapper{
    width: 100%;
    display: flex;
    height: 600px;
    align-items: center;
    position: relative;
    margin: auto;
    overflow: hidden;
    }
/*.slideshow{
    width: 75%;
    padding-left: 50px;
    /*flex-basis: 40%;
    display: flex;
    padding-right: 200px;
    align-items: center;
    vertical-align: bottom;
    padding-bottom: 50px;
}*/
.posters{
    width: 90%;
    height: max-content;
    border-radius: 10px;
    transition: transform .4s ease-in-out;
}
.slides{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: transform .4s ease-in-out;
}
.slider-btns{
    position: absolute;
    top: 105%;
    z-index: 2;
    width: 42%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.slider-btns span{
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    background: rgba(29, 27, 27, 0.151);
    border-radius: 50%;
    color: rgb(254, 254, 254);
    cursor: pointer;
}
.dots{
    position: absolute;
    width: 85%;
    top: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    z-index: 1;
}
  
.dots .dot{
    width: 0.8rem;
    height: 0.8rem;
    background-color: white;
    opacity: .2;
    border-radius: 50%;
    transition: opacity .2s ease-in-out;
    cursor: pointer;
}
  
.about{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 20px;
    box-shadow: 5px 10px 15px #dadada ;
    background: linear-gradient(rgb(255, 255, 141), rgb(255, 255, 250));
}
.about p{
    font-family: 'Satisfy';
    font-size: 1.2rem;
    text-align: justify;
}
.publications{
    width: 60%;
    align-self: center;
    padding: 20px;  
    padding-top: 5px;  
    margin: auto;      
}
.container-p{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: transparent;
}
.table-row{  
    display:table-row;
    text-align: center;
}
/*.publications .p1{
    margin: auto;
    width: 50%;
}
.publications .p2{
    margin: auto;
    width: 50%;
    padding-left: 20px;
}*/
.p1 img{
    /*float: left;*/
    width: 90%;  
    border: 5px;      
    border-color: #dadada;
    border-radius: 5px;
    box-shadow: 5px;
    display: block;
}
.p2 img{
    width: 90%;
    border: 5px;
    border-color: #dadada;
    border-radius: 5px;
    box-shadow: 5px;
    display: block;
}
.col-p{
    display:table-cell;
    padding: 5px;
}
.pub-caption{
  position: relative;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 78.5%;
  border-radius: 10px;
  top: 3px;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.p1:hover .pub-caption{
    opacity: 1;
}
.p2:hover .pub-caption{
    opacity: 1;
}
.team{
    padding: 20px;  
    padding-top: 5px;  
    margin: auto;      
    background-image: url(assets/plain\ paper.jpg);
    background-size: cover;    
    background-repeat: no-repeat;
    
}
.team .text{
    text-align: justify;
    padding: 5px;
    font-family: 'Special Elite';
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.team .name{
    font-family: 'Walter Turncoat';
    font-size: 24px;
    font-weight: 600;
}
.container-t{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*border: 10px;
    background-image: url(assets/folded\ paper.png);
    background-size: cover;*/
}
.col-t{
    display:table-cell;
    width: 50%;
    text-align: justify;
    vertical-align: middle;
    align-items: center;
    padding: 1%;
}
.col-small{
    display:table-cell;
    width: 5%;
}
.col-small1{
    display:table-cell;
    width: 15%;
}
.photo1{
    width: 75%;
    vertical-align: middle;
    border-radius: 5px;
}
.photo2{
    width: 75%;
    border-radius: 5px;
}
.photo3{
    width: 70%;
    border-radius: 5px;
}
.photo4{
    width: 70%;
    border-radius: 5px;
}
.text{
    text-align: justify;
}
.name{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding: 5px;
}
.table-row-f{  
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    padding-inline: 1.5rem;
}
.table-row-t{  
    display:table-row;
    text-align: center;
}
.footer{
    background-color: black;
    color: azure;
    /*display: flexbox;*/
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    text-align: center;
    width: 100%;
}
.col-bottom-l{
    display:flex;
    width: 5%; 
    text-align: right;
}
.col-bottom-m{
    display: block;
    width: 30%; 
    text-align: center; 
    /*vertical-align: middle;*/
    padding-left: 10px
}
.col-bottom-r{
    display:block;
    width: 40%;
    text-align: center; 
}
.col-bottom-r1{
    display: block;
    width: 30%; 
    text-align: center; 
    /*vertical-align: top;
    padding-right: 7px;*/
}
.col-bottom-r2{
    display:block;
    width: 5%; 
    padding-right: 10px; 
    text-align: left;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .html{
        width: auto;
    }
    .header{
        width: 100%;
    }
    .navbar a {
        display: none;
      }
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    
  }
  @media screen and (max-width: 600px) {
    .cafe{
        margin-top: 250px;
        width: fit-content;
        text-align: center;
    }
    .latest{
        margin-top: 150px;
    }
    .main{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0;
    }
    .invite{
        justify-self: center;
        width: 100%;
    }
    .slider-wrapper{
        
        width: 100%;
        height: 500px;
        margin-right: 20px;
    }
    .slides{
        width: 100%;
        position: absolute;
        z-index: -1;
        transition: transform .4s ease-in-out;
    }
    .slider-btns{
        position: absolute;
        top: 200%;
        z-index: 2;
        width: 100;
        width: 97%;
        display: flex;
        /*justify-content: space-between;*/
        align-items: center;
    }
    .slider-btns span{
        background: rgba(29, 27, 27, 0.151);
    }
    .publications{
        width: 100%;
        align-self: auto;
    }
    .table-row-t {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
      }
    .col-t{ display: block;
        /*flex-direction: column;
        flex-wrap: wrap;*/
        justify-content: center;
        width: 100%;
    }
    .logo{
        float: none;
        text-align: left;
    }
    .logo p{
        text-align: center;
        font-size: 1.1rem
    }
    .table-row-f{  
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .col-bottom-m{
        width: 100%;
        align-items:center;
    }
    .col-bottom-r1{
        width: 100%;
        align-items: center;
    }
    .col-bottom-r{
        width: 100%;
        text-align: center;
    }
}
